@import 'vars.scss';
.fc-embed {
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: $lighter;
	@include medText;
	* {
		text-rendering: optimizeLegibility;
		box-sizing: border-box;
	}
	a, a:hover, a:visited, a:focus {
		color: inherit;
		font-family: inherit;
		font-weight: normal;
		text-decoration: none;
		border: none;
		transition: color 200ms ease-in-out,
								background-color 200ms ease-in-out,
								border-color 200ms ease-in-out;
	}
	img {
		width: 100%;
		height: auto;
		display: table;
		transition: opacity 200ms ease-in-out;
	}
	&:empty, &.fc-empty {
		padding-bottom: 66%;
	}
	&.fc-empty, &.fc-loading {
		img.fc-img {
			display: none;
		}
	}
}
.fc-corner {
	width: $corner-size;
	height: $corner-size;
	position: absolute;
	z-index: 4;
	filter: drop-shadow(0 0 1px $darken);
	transform: translate3d(0,0,0);
	@include fastTrans;
	.fc-dark & {
		filter: none;
	}
	&::after, &::before {
		position: absolute;
		z-index: 4;
		content: '';
		background-color: $light;
		.fc-dark & {
			background-color: $darkest;
		}
	}
	&:not(:hover) {
		// transition: all 100ms linear, opacity 0;
	}
	&:hover {
		cursor: pointer;
		opacity: 1;
		.fc-static & {
			cursor: unset;
			opacity: unset;
		}
	}
	&.fc-empty {
		opacity: .5;
	}
	&.fc-active {
		opacity: 0;
		pointer-events: none;
		@include noTrans;
	}
	&.fc-authorship {
		bottom: -#{$corner-size};
		right: -#{$corner-size};
		&::before, .fc-shadow::before {
			width: $corner-width;
			height: $corner-len;
			right: $corner-gap;
			bottom: $corner-gap;
		}
		&::after, .fc-shadow::after {
			width: $corner-len;
			height: $corner-width;
			right: $corner-gap;
			bottom: $corner-gap;
		}
	}
	&.fc-backstory {
		bottom: -#{$corner-size};
		left: -#{$corner-size};
		&::before, .fc-shadow::before {
			width: $corner-width;
			height: $corner-len;
			left: $corner-gap;
			bottom: $corner-gap;
		}
		&::after, .fc-shadow::after {
			width: $corner-len;
			height: $corner-width;
			left: $corner-gap;
			bottom: $corner-gap;
		}
	}
	&.fc-imagery {
		top: -#{$corner-size};
		left: -#{$corner-size};
		&::before, .fc-shadow::before {
			width: $corner-width;
			height: $corner-len;
			left: $corner-gap;
			top: $corner-gap;
		}
		&::after, .fc-shadow::after {
			width: $corner-len;
			height: $corner-width;
			left: $corner-gap;
			top: $corner-gap;
		}
	}
	&.fc-links {
		top: -#{$corner-size};
		right: -#{$corner-size};
		&::before, .fc-shadow::before {
			width: $corner-width;
			height: $corner-len;
			right: $corner-gap;
			top: $corner-gap;
		}
		&::after, .fc-shadow::after {
			width: $corner-len;
			height: $corner-width;
			right: $corner-gap;
			top: $corner-gap;
		}
	}
	.fc-embed:hover:not(.fc-full) &, .fc-embed:not(.fc-init) &, .fc-embed.fc-static & {
		&.fc-imagery {
			top: 0;
			left: 0;
		}
		&.fc-links {
			top: 0;
			right: 0;
		}
		&.fc-authorship {
			bottom: 0;
			right: 0;
		}
		&.fc-backstory {
			bottom: 0;
			left: 0;
		}
	}
	.fc-full & {
		display: none;
	}
}
.fc-shadow {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	pointer-events: none;
	&::after, &::before {
		position: absolute;
		background-color: $darkest;
		z-index: 3;
		content: '';
		border: 1px solid $medium;
	}
}
.fc-panel {
	width: 60%;
	max-height: 60%;
	position: absolute;
	z-index: 5;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	color: $darkest;
	background-color: rgba($lightest, .95);
	filter: drop-shadow(0 0 1px $darken);
	border: 1px solid $lightest;
	border-radius: $radius;
	transition: opacity 150ms ease-in-out;
	.fc-dark & {
		color: $lightest;
		background-color: rgba($darkest, .9);
		border-color: $medium;
		filter: drop-shadow(0 0 1px $lighten);
	}
	//links
	&.fc-active {
		opacity: 1;
		pointer-events: all;
		&.fc-empty {
			opacity: .5;
		}
	}
	&.fc-authorship {
		right: $panel-gap;
		bottom: $panel-gap;
	}
	&.fc-backstory {
		left: $panel-gap;
		bottom: $panel-gap;
	}
	&.fc-imagery {
		left: $panel-gap;
		top: $panel-gap;
	}
	&.fc-links {
		right: $panel-gap;
		top: $panel-gap;
	}
	.fc-full & {
		transition-delay: 3000ms;
		transition: all 0ms linear; 
		width: calc(100% - 1em);
		height: calc(100% - 1em);
		max-height: unset;
	}
	p {
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
    word-break: break-word;
    hyphens: auto;
		&:last-child {
			margin: 0;
		}
	}
}
.fc-icon {
	width: 1em;
	height: 1em;
	padding: 3px;
	// display: inline-block;
	margin-left: .5em;
	position: absolute;
	top: .5em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px;
	border: 1px solid $medium;
	border-radius: $radius;
	transition: border-color 200ms ease-in-out;
	&:hover {
		cursor: pointer;
		border-color: $dark;
		.fc-dark & {
			border-color: $light;
		}
	}
}
.fc-expand {
	right: 2em;
	background-image: url(./svg/expand.svg);
	.fc-dark & {
		background-image: url(./svg/expand-light.svg);
	}
	.fc-full .fc-authorship & {
		transform: rotate(180deg);
	}
	.fc-backstory & {
		transform: rotate(90deg);
		.fc-full & {
			transform: rotate(-90deg);
		}
	}
	.fc-imagery & {
		transform: rotate(180deg);
		.fc-full & {
			transform: rotate(0deg);
		}
	}
	.fc-links & {
		transform: rotate(-90deg);
		.fc-full & {
			transform: rotate(90deg);
		}
	}
}

.fc-close {
	right: .5em;
	background-image: url(./svg/close.svg);
	.fc-dark & {
		background-image: url(./svg/close-light.svg);
	}
	.fc-static & {
		pointer-events: none;
	}
}
.fc-scroll {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
	  width: 5px;
	}
	&::-webkit-scrollbar-track {
	  background: transparent; 
	}
	&::-webkit-scrollbar-thumb {
	  background: $medium; 
	}
	&::-webkit-scrollbar-thumb:hover {
	  background: $darken; 
	}
}
.fc-inner {
	width: 100%;
	margin: .5em 0;
	height: auto;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}
.fc-panel-title {
	width: 100%;
	padding: .325em 0 .325em .4em;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba($lightest, .95);
	font-weight: bold;
	font-size: 1.2em;
	z-index: 5;
	@include shadow;
	.fc-dark & {
		color: $lightest;
		background-color: rgba($darkest, .9);
		// border-color: $medium;
		// filter: drop-shadow(0 0 1px $lighten);
	}
}
.fc-pseudo {
	opacity: 0;
	position: unset;
	left: unset;
	right: unset;
	z-index: unset;
}
.fc-label {
	color: $dark;
	&::after {
		content: ': ';
		margin-right: .25em;
		display: inline-block;
	}
	.fc-dark & {
		color: $light;
	}
}
// .fc-content {
// 	display: inline-block;
// 	&[data-fc-field=""] {

// 	}
// }
.fc-row {
	padding: .5em;
	position: relative;
	// border-top: 1px solid $medium;
	img, iframe {
		width: 100%;
		height: auto;
		// margin: 0 0 1em 0;
		border-radius: $radius;
		border: 1px solid $medium;
	}
}
.fc-field {
	margin-bottom: .5em;
	a, a:visited {
		margin: 0;
		padding: 0;
		display: inline;
		color: inherit;
		border-bottom: 1px solid $medium;
		transition: border 200ms ease-in-out;
		text-decoration: none;
		word-break: break-word;
		&:hover, &:visited, &:focus, & {
			text-decoration: none;
		}	
		&:hover {
			color: inherit;
			border-bottom-color: $darken;
			// opacity: .8;
		}
	}
	&:last-of-type {
		margin: 0;
	}
}
.fc-contact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	&:not(:first-of-type) {
		margin-top: 1em;
	}
}
.fc-copyright {
	span {
		margin-right: .25em;
	}
	&::before {
		display: inline-block;
		content: '\00a9';
		margin-right: .25em;
	}
}
.fc-card, a.fc-card {
	width: 100%;
	margin: 0;
	padding: .5em;
	display: table;
	background-color: $light;
	border-radius: $radius;
	@include shadow;
	.fc-label {
		display: block;
	}
	.fc-dark & {
		background-color: rgba($lighten, .1);
	}
}
a.fc-card:hover {
	background-color: $lightBlue;
	.fc-dark &  {
		background-color: rgba($lighten, .05);
	}
}
.fc-card.fc-field:not(:last-child) {
	margin-bottom: .5em;
}
.fc-half {
	width: calc(50% - .5em);
	margin-top: 1em;
	display: inline-block;
	&:nth-child(odd) {
		margin-right: 1em;
	}
}
.fc-button {
	display: inline-block;
	a, a:visited, a:hover, a:focus {
		padding: .25em .5em;
		border-radius: $radius;
		border: 1px solid $medium;
		text-decoration: none;
		background-color: $mediumBlue;
	}
}
.fc-value {
	display: inline;
	white-space: pre-line;
}
.fc-row-inner {
	clear: both;
}
.fc-sub-row {
	width: 100%;
	margin: 0 0 1em;
	padding: .5em;
	display: block;
	&:last-of-type {
		border-bottom: none;
	}
	.fc-full & {
		width: 50%;
		float: left;
	}
}
.fc-media {
	display: block;
	margin: auto;
	&:not([data-fc-source='image']) {
		width: 100%;
	}
	& + .fc-sub-caption {
		padding: .5em 0 0 0;
	}
}
[class^='fc-sub-'], .fc-cutline {
	@include smallText;
}
.fc-sub-url {
	opacity: .8;
	text-decoration: none;
}
.fc-sub-credit {
	color: $dark;
	&.fc-dark {
		color: $light;
	}
}


.fc-responsive {
	position: relative;
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}
.fc-cutline {
	margin: .2em 0 0 0;
	.fc-caption, .fc-credit {
		&::after {
			content: ' ';
		}
	}
	.fc-credit {
		color: $dark;
		span:first-child:not(:last-child)::after {
			content: '/';
		}
	}
	.fc-logo {
		opacity: 1;
		white-space: nowrap;
		transition: opacity 100ms linear;
		&:first-child {
			float: right;
		}
		&:last-child {
			margin-left: .25em;
		}
		&, &:hover, &:visited &:focus {
			color: inherit;
			text-decoration: none;
		}
		&:hover {
			opacity: .8;
		}
		&::after {
			width: 10px;
			height: 10px;
			margin: 0 0 -1px 0;
			display: inline-block;
			background-image: url(./svg/icon.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			content: '';
		}
	}
}