@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,vietnamese);

$blue: #80bdff;
$darkest: #000;
$medium: #dadad9;
$light: #ccc;
$lighter: #f5f5f5;
$lightest: #fff;

.fc-embed {
	position: relative;
	overflow: hidden;
	font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
	font-size: 12px;
}
.fc-photo {
	width: 100%;
	height: auto;
	display: table;
}

.fc-corner {
	width: 5em;
	height: 5em;
	position: absolute;
	z-index: 2;
	transition: all 200ms ease-in-out;
	&::after, &::before {
		position: absolute;
		content: '';
		background-color: $lightest;
	}
	&:hover, &.fc-active {
		cursor: pointer;
		&::after, &::before {
			background-color: $blue;
		}
	}
	&[data-slug='context'] {
		top: -2em;
		left: -2em;
		&::before {
			width: .75em;
			height: 3em;
			left: 1em;
			top: 1em;
		}
		&::after {
			width: 3em;
			height: .75em;
			left: 1em;
			top: 1em;
		}
	}
	&[data-slug='links'] {
		top: -2em;
		right: -2em;
		&::before {
			width: .75em;
			height: 3em;
			right: 1em;
			top: 1em;
		}
		&::after {
			width: 3em;
			height: .75em;
			left: 1em;
			top: 1em;
		}
	}
	&[data-slug='copyright'] {
		bottom: -2em;
		right: -2em;
		&::before {
			width: .75em;
			height: 3em;
			right: 1em;
			top: 1em;
		}
		&::after {
			width: 3em;
			height: .75em;
			left: 1em;
			bottom: 1em;
		}
	}
	&[data-slug='backstory'] {
		bottom: -2em;
		left: -2em;
		&::before {
			width: .75em;
			height: 3em;
			left: 1em;
			top: 1em;
		}
		&::after {
			width: 3em;
			height: .75em;
			left: 1em;
			bottom: 1em;
		}
	}
	.fc-embed:hover & {
		&[data-slug='context'] {
			top: 0em;
			left: 0em;
		}
		&[data-slug='links'] {
			top: 0em;
			right: 0em;
		}
		&[data-slug='copyright'] {
			bottom: 0em;
			right: 0em;
		}
		&[data-slug='backstory'] {
			bottom: 0em;
			left: 0em;
		}
	}
	.fc-embed.fc-active &, .fc-embed:hover.fc-active & {
		&[data-slug='context'] {
			top: -.75em;
			left: -.75em;
		}
		&[data-slug='links'] {
			top: -.75em;
			right: -.75em;
		}
		&[data-slug='copyright'] {
			bottom: -.75em;
			right: -.75em;
		}
		&[data-slug='backstory'] {
			bottom: -.75em;
			left: -.75em;
		}
	}
}
.fc-panel {
	width: 60%;
	height: calc(100% - 2em);
	position: absolute;
	top: 1em;
	z-index: 3;
	opacity: 0;
	background-color: rgba($lightest,.95);
	border: 1px solid $blue;
	box-shadow: 0 0 1px -2px rgba($medium,.8);
	visibility: hidden;
	pointer-events: none;
	overflow-y: auto;
	transition: all 100ms ease-in-out;
	&[data-slug='context'], &[data-slug='backstory'] {
		left: 1em;
	}
	&[data-slug='links'], &[data-slug='copyright'] {
		right: 1em;
	}
	.fc-panel-title {
		padding: 2% 1.8%;
		border-bottom: 1px solid $medium;
		font-weight: bold;
		font-size: 1.2em;
		text-transform: capitalize;
	}
	.fc-row {
		padding: 2%;
		border-bottom: 1px solid $medium;
		box-shadow: 0 2px 1px -2px rgba($medium,.8);
		&.fc-empty {
			display: none;
		}
	}
	.fc-label {
		font-weight: bold;
		color: $darkest;
		text-transform: capitalize;
	}
	.fc-sub-rows {
		margin: 2% 0 0;
		// column-count: 2;
		// column-gap: .5em;
		.fc-sub-row {
			width: 100%;
			margin: 0 0 4%;
			display: inline-table;
			box-sizing: border-box;
			border-radius: 3px;
			&:last-of-type {
				margin: 0;
			}
		}
		.fc-sub-title {

		}
		.fc-sub-credit, .fc-sub-url {
			font-size: .8em;
		}
		.fc-sub-credit {
			padding: 2% 0 0;
		}
		img, iframe {
			width: 100%;
			height: auto;
		}
	}
	.fc-embed.fc-active & {
		transition: none;
	}
	&.fc-active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
}