$blue: #80bdff;
$mediumBlue: #afd5ff;
$lightBlue: #f4f7fe;

$darkest: #000;
$darker: #7b7883;
$dark: #2d2d2e;
$darken: rgba($darkest,.5);

$medium: #c4c4c4;

$lightest: #fff;
$lighter: #f9f9fb;
$light: #f4f4f6;
$lighten: rgba($lightest,.5);

$radius: 3px;
$panel-gap: .5em;

$corner-size: 5em;
$corner-width: 10px;
$corner-len: 40px;
$corner-gap: 10px;

@mixin mdText {
	font-size: 1em;
	line-height: 1.3em;
}

@mixin smText {
	font-size: .85em;
	line-height: 1.3em;
}

@mixin fastestTrans {
	transition: all 50ms ease;
}

@mixin fastTrans {
	transition: all 250ms ease;
}

@mixin medTrans {
	transition: all 600ms ease;
}

@mixin noTrans {
	transition: none;
}

@mixin shadow {
	box-shadow: 0 0 1px 1px rgba($darkest,.1);
}

@mixin shadowLight {
	box-shadow: 0 0 1px 1px rgba($lightest,.1);
}

@mixin border {
	border: {
  	width: 1px;
  	style: solid;
  	color: $blue;
		radius: $radius;
	}
}